@using AuraDownload.Models
@model KategoriProgramList

@{
    ViewBag.Title = "Tüm Programlar | Aura Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title> @ViewBag.Title</title>
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="blog_details">

                        <h1> Tüm Programlar</h1>
                        <hr>

                        @foreach (var item in Model.Programlar.OrderBy(p => p.program_name))
                        {
                            <a href="/programs/Details/@item.program_id">
                                <div class="card" style="width: 10rem;float: left;margin-right: 15px;margin-top: 10px;">
                                    <img class="card-img-top" src="~/Template/img/programs/@item.iconM" alt="Program Fotoğrafı">
                                    <div class="card-body">
                                        <h3 class="card-title" style="text-align: center;">

                                            <p>@item.program_name </p>

                                        </h3>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>

            <!--Kategoriler-->
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Kategoriler</h4>
                        <ul class="list cat-list">
                            @foreach (var item in Model.Kategoriler.Take(4))
                            {
                                <li>
                                    <a href="/categories/Details/@item.category_id" class="d-flex">
                                        <p> @item.category_name </p>
                                    </a>
                                </li>
                            }

                        </ul>
                    </aside>
                    <!--Kategoriler End -->
                    <!-- En Çok İndirilen-->
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">En Çok İndirilenler</h4>
                        <ul class="list cat-list">
                            @foreach (var item in Model.Programlar.OrderByDescending(p => p.download_count).Take(5))
                            {
                                <li>
                                    <a href="/programs/details/@item.program_id" class="d-flex">
                                        <img src="~/Template/img/programs/@item.iconS">
                                        <p style="margin-left: 10px;margin-top: 5px;">@item.program_name</p>
                                    </a>
                                </li>
                            }
                        </ul>
                    </aside>
                    <!-- En Çok İndirilen End-->
                </div>
            </div>


        </div>
    </div>
</section>


